/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2015, 11:38:59
    Author     : juacelo
*/

/* Elementos */
ul {
   
   list-style-image:url("../images/Flecha-derecha3.png");
}

ul li {
   margin-left: 5px;   
}

/* Clases */

.footlink:hover {
    color: #006600;
}

.footlink:link {
    color:#006600;
    text-decoration: none;
}

.footlink:visited {
    color:#006600;
}

#statistics-form{
    margin: 0 auto;
}

#statistics-form select{
    width: 100%;
}

.errorstyle{
    color: red;
    font-weight: bold;
}

.buttonspace, .buttonDelivery, .buttonfont, .buttondel, .buttonNormal, .buttonRegalo, .buttonEnl, .buttonAsd {
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0.55%;
    margin-right: 0.6%;
    vertical-align: top;
    padding-top: 5px;
    background:#488E48;
    border-radius: 0.15em;
    display:inline-block;
    -moz-box-shadow:inset 0px 1px 11px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 11px 0px #c1ed9c;
    box-shadow:inset 0px 1px 11px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #384d08), color-stop(1, #327D32) );
    background:-moz-linear-gradient( center top, #384d08 5%, #327D32 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#384d08', endColorstr='#488e48');
    background-color:#384d08;
    -webkit-border-top-left-radius:25px;
    -moz-border-radius-top5left:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    border:1px solid #83c41a;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:15%;
    text-decoration:none;
    text-shadow:1px 1px 0px #488e48;
}

.buttonNormal {
    width:60%;
    height: 40px;
    line-height: 30px;
}

.buttonEnl {
    width: 30%;
    height: 30px;
    line-height: 30px;
}

.buttonAsd {
    width: 20%;
    height: 30px;
    line-height: 30px;
}

.buttonDelivery {
   width:90%;
   margin-left: 10px;
   margin-right: 10px;
   
}
.buttondel{
    width:15%;
   margin-left: 10px;
   margin-right: 10px;
   font-size:15px;
    height:40px;
    line-height:30px;
}
.buttonRegalo{
    width:30%;
   margin-left: 10px;
   margin-right: 10px;
   height:30px;
   font-size:10px;
   line-height:20px;
}

.buttonfont {
    font-size:15px;
    height:30px;
    line-height:30px;
}


.estilotextarea {
    resize: none;
    disable: true;
}

.button{
    color:#DDDDDD;
    font-family:Arial;
    font-size: 11pt;
    text-decoration: none;
    display:inline-block;
}

.textos,.textos2{
    margin: 1.5em auto;
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    width: 70%;
    height: 80%;
    padding: 5px;
}
.textos2{
    text-align:center;
}

.textos h3{
    text-align: center;
}

.textos h4 {
   text-align: center;
}

.titulo {
    float: right;
    margin-right: 5px;
    font-family: "Comic Sans MS";
    color: #006600;
    margin-top: 30px;
    
}

.msjBienv {
    border-top: 1px solid #006600;
    border-bottom: 1px solid #006600;
    width: 90%;
}

.centrado, .centradoErr {
    text-align: center;
    color: black;
    font-weight: bold;
}

.centradoErr {
    margin-top: 20%;
}

.centradoErr h1 {
    color: #006600;
}

.centradoErr h3 {
    color: #088A4B;
}

.centradoErr p {
    font-weight: normal;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.redes {
    margin:-5px 25px;
    width: 11%;
}

.cajaZona {
    
    width: 40%;
    height: 12%;
    background-color:#EEEEEE;
    border: 1px solid #006600;
    border-radius:0.75em;
    //margin-left: 25px;
    //margin-top:20px;
    margin: 10px auto;
    padding:0.5em;
    
}

.puntos {
    font-size: 40px;
    -moz-border-radius: 34px;
   -webkit-border-radius: 34px;
    border-radius: 34px;
    border:3px solid #006600;
    width: 68px;
    height: 68px;
    background-color: #DDDDDD;
    text-align: center;
    padding: 0.1em;
    margin:auto;
}

.tablaZona {
    width: 100%;
}

.tablaCat, .tablaEstadist {
    width: 90%;
    height: 85%;
    margin:0 auto;
}

.tablaEstadist{
    border:none;
}

.tablaCat{
    border: 1px solid #006600;
}

.tablaCat td {
    border-top: 1px solid #006600;
    border-left: 1px solid #006600;
    border-right: 1px solid #006600;
    border-bottom: 0;
    border-collapse: separate;
    text-align: center;
}

.textosCentrados, .textosCentrados2 {
    margin-top: 30%;
    text-align: center;
    font-weight: bold;
}

.textosCentrados2 {
    margin-top: 2%;
    color: #006600;
}

.pieFoto td {
    border-bottom: 1px solid #006600;
    border-top: 0;
}

.contCelda {
    width:70%;
}

.logoCelda {
    width: 30%;
}
.elemcentrado{
    position: absolute;
    left: 20%;
    top: 30%;
    
}


/* Ids */

#container{
    width:100%;
    height:fit-content;
}
#header{
    background-color:#DDDDDD;
    width:100%;
    height:6%;
    position: absolute;
    top:0px;
    left:0px;
}

#content{
    background-color:#EEEEEE;
    width:100%;
    height:auto;
    position: absolute;
    top: 55px;
    bottom: 56px;
    left:0px;
}

#footer{
    background-color:#DDDDDD;
    width:100%;
    height:6%;
    position: absolute;
    bottom:0px;
    left:0px;
    text-align: center;
}

#logo {
    height: 80px;
    float: left;
       
}

#navegacion{
    width: 99%;
    //border: 1px solid #006600;
    //border-radius: 0.75em;
    height: 10%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#productos{
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    float: left;
    width: 20%;
    height: 86.5%;
    margin-left: 0.6%;
    display: inline;
}
#carrito{
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    float: left;
    width: 23%;
    height: 86.5%;
    margin-left: 0.6%;
    display: inline;
}
#carritoRegalos{
    margin: 1.4em auto;
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    float: left;
    width: 13.3%;
    height: 80.5%;
    margin-left: 0.6%;
    display: inline;
}

#productos h3{
    text-align: center;
}

#novedades{
    margin-left: 0.6%;
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    display: inline-block;
    width: 55%;
    height: 86.5%;
}

#novedades h3{
    text-align: center;
}

#compuesto{  
    display: inline-block;
    width: 22.8%;
    height: 86.5%;
    float: right;
    margin-right:0.6%;
}

#login {
    width: 85%;
    height: 40%;
    border: 1px solid #006600;
    margin: 0 auto;
    border-radius:0.75em;
    padding: 1em;
    
}

#enlaces, #estadisticas {
    width: 85%;
    height:13%;
    border: 1px solid #006600;
    margin:20% auto;
    border-radius:0.75em;
}

#estadisticas {
    text-align: center;
    margin-top:20%;
    height: 7%;
    padding: 10px;
}

#estadisticas a {
    margin-top: 5px;
}

#cuadroBienv {
    height: 10%;
    width: 50%;
    margin-top:1px;
    margin-left:15em;
    margin-right:20em;
    text-align: center;
    color:#006600;
    font-size: 16px;
    font-family: "Comic Sans MS";
    font-weight: bold;
  
}


#cuadroBienv p {
    border-top: 3px solid #006600;
    border-bottom: 3px solid #006600;
    background-color: #DDDDDD;
}

#cierreSes {
    height: 18%;
    margin-top:10px;
    margin-right:2em;
    width: 10%;
    float:right;
    display: inline-block;
    text-align: center;
}

#cajaPuntos {
    width: 70%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    color: #006600;
    font-family: "Comic Sans MS";
    font-size: 30px;
}

#cajaEntregas {
    width: 65%;
    height: 70%;
    margin-left: 12em;
}

.entregas {
    margin: 5px auto;
    width: 100%;
    border-top: 1px solid #006600;
    border-bottom: 1px solid #006600;
    border-collapse: collapse;
}

.entregas td{
    width: 25%;
    text-align: center;
    border-top: 1px solid #006600;
}

.entregas th {
    border-bottom: 1px solid #006600;
}
#atras {
    height: 12%;
    width: 10%;
    float: right;
    margin-right: 2em;
    margin-top: -10em;
    text-align: center;
}
#cuadroEntr {
    text-align: center;
    margin: 0 auto;
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    width: 50%;
    height: 85.5%;
    padding: 5px;
    
}
#cuadroPerfil{
    text-align: center;
    margin: 0 auto;
    background-color:#DDDDDD;
    border-radius: 0.75em;
    border: 1px solid #006600;
    width: 50%;
    height: 85%;
    padding: 5px;
}
#centrarTabla{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    padding: 5px;
    border-spacing: 10px 15px;
}

